#main-content
{
    height:100%;
    width:100%;
}
#record
{
    bottom: 3%;
    left:0;
    right:0;
    margin: auto;
    position: absolute;
}
#save
{
    bottom: 3%;
    right:0;
    position: absolute;
}
#title
{
    top: 8%;
    right:0;
    left: 0;
    margin: auto;
    position: absolute;

}
#description
{
    bottom: 20%;
    text-align: center;
    position: absolute;
}
h1
{
    left:0;
    right:0;
    margin:auto;
}
#image-upload
{
    top: 25%;
    left:0;
    right:0;
    margin: auto;
    position: absolute;
}
.image-upload > input
{
    display: none;
}

.canvas-wrapper {
    width: 480px;
    height: 100%;
    position: fixed;
}